@media (min-width:800px)and (max-width:1023px){
    #btnOne{
        display: none;
    }   
    #main-projects{
        height: 600px;
    }
    .link-project{
        height: 235px;
    }   
    .text{
        font-size:27px;
    }
}