.downloads{
    background-color: #edc2c2;
    color: #370858;
    box-shadow: 5px 5px 0 #370858;
    text-decoration: none;
    font-family: 'Cinzel', serif;
    font-size: 35px;
    padding: 10px;
    margin-right: 20px;
}
