.title{
    background-color: #9E58DC;
    font-size: 50px;
    display:block;
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: #370858;
    text-shadow:5px 5px 0 black;
    box-shadow: 5px 5px 0 whitesmoke;
}
.sub-title{
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
    text-shadow: 5px 5px  #9E58DC;
    margin-top: 50px;
    display: inline-block;
    margin-left: 500px;
    margin-right: 500px;
}
.ss-title{
    font-family: 'Modern Antiqua', cursive;
    font-size: 40px;
    display: inline;
    color:#edc2c2;
}