#image-of-command{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
}
#main-comandos{
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#selecionar-comando{
    display: inline-block;
}